[Unit]
Description=Lumiere
#After=syslog.target network.target

[Service]
ExecStart=/home/arnaud/dev/github/lumiere/start.py
SyslogIdentifier=lumiere
Restart=always

[Install]
WantedBy=default.target
